body {
    font-family: Roboto, sans-serif;
    color: $primary-text-color;
    background-color: $primary-white-color;
}

.section {
    padding: 94px 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.section-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;

    @media (max-width: 1200px) {
        font-size: 28px;
        margin-bottom: 30px;
    }
    
    @media (min-width: 1201px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.hide-text {
    display: none;
}