// Color
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$background-color: #2f303a;
$background-team-color: rgba(245, 244, 250, 1);
$primary-white-color: #ffffff;
$contacts-text-color: rgba(117, 117, 117, 1);
$footer-address-color: rgba(255, 255, 255, 0.6);

// Transition
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);