.clients {
    padding: 94px 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__icon {
        padding: 16px 32px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        fill: #afb1b8;
        transition: $transition;

        &:hover {
            border-color: $accent-color;
            fill: $accent-color;
        }
    }

    @media (max-width: 480px) {
        &__section {
            padding: 60px 15px;
        }
    
        &__list-item {
            width: calc(50% - 15px);
            margin-bottom: 30px;
        }
    }
    
    @media (min-width: 481px) and (max-width: 1200px) {
        &__section {
            padding: 60px 15px;
        }
    
        &__list {
            max-width: 700px;
            margin: 0 auto;
        }
    
        &__list-item {
            width: calc((100% - 60px) / 3);
            margin-bottom: 30px;
        }
    }
    
    @media (min-width: 1201px) {
        &__section {
            padding: 94px 0;
        }
    
        &__list-item {
            width: 170px;
        }
    }
}