.features {

    &__list {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-between;
    }

    &__title {
        color: $title-text-color;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__text {
        line-height: 1.71;
    }

    &__img {
        background-color: $background-team-color;
        border-radius: 4px;
        padding: 25px 0px;
        margin-bottom: 30px;
        text-align: center;
    }

    &__icon {
        width: 70px;
        height: 70px;
    }

    @media (max-width: 480px) {

        &__list-item {
            width: 100%;
            margin-bottom: 30px;
        }
    }
        
    @media (min-width: 481px) and (max-width: 1200px) {

        &__list-item {
            width: calc(50% - 15px);
            margin-bottom: 30px;
        }
    }

    @media (min-width: 1201px) { 

        &__list {
        margin-bottom: 94px;
        }
    
        &__list-item {
            width: 270px;
        }

    }  
}