.footer {
    background-color: $background-color;
    max-width: 1600px;
    padding: 60px 20px;

    &__address {
        display: block;
        color: $primary-white-color;
        margin-bottom: 9px;
        margin-top: 20px;
    }

    &__contacts {
        display: block;
        color: $footer-address-color;
        margin-bottom: 9px;
    }

    &__socials {
        max-width: 206px;
    }

    &__insider {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__adds {
        margin-right: 70px;
    }

    &__social-text {
        margin-bottom: 20px;
        color: $primary-white-color;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
    }

    &__form {
        display: flex;
    }

    &__sign-up {
        max-width: 570px;
    }

    &__sign-up-label {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $primary-white-color;
        margin-bottom: 20px;
    }

    &__form-input {
        font-size: 16px;
        width: 358px;
        height: 50px;
        padding: 12px;
        outline: none;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        &:hover,
        &:focus {
            border-color: $accent-color;
        }
    }

    &__btn-svg {
        width: 24px;
        height: 24px;
        padding-left: 10px;
        fill: $primary-white-color;
    }
}