.footer {
    background-color: $background-color;
    padding: 60px 20px;

    &__container {
        display: flex;

        @media (max-width: 1200px) {
      flex-wrap: wrap;
    }

    }

    &__address {
        display: block;
        color: $primary-white-color;
        margin-bottom: 9px;
        margin-top: 20px;
    }

    &__contacts {
        display: block;
        color: $footer-address-color;
        margin-bottom: 9px;
    }

    &__socials, .logo {
        max-width: 206px;
        margin-right: 0;
    }

    &__insider {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__social-text {
        margin-bottom: 20px;
        color: $primary-white-color;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
    }

    &__form {
        display: flex;
    }

    &__sign-up {
        max-width: 570px;
    }

    &__sign-up-label {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $primary-white-color;
        margin-bottom: 20px;
    }

    &__form-input {
        font-size: 16px;
        width: 358px;
        height: 50px;
        padding: 12px;
        outline: none;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: $primary-white-color;

        &:hover,
        &:focus {
            border-color: $accent-color;
        }
    }

    &__btn-svg {
        width: 24px;
        height: 24px;
        padding-left: 10px;
        fill: $primary-white-color;
    }

    @media (max-width: 480px) {
        &__container {
            display: block;
        }

        &__insider {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }

        &__form {
            display: block;
        }

        &__button {
            margin: 0 auto;
            margin-top: 20px;
        }

        &__social-text {
            margin-top: 60px;
        }

        &__sign-up-label {
            margin-top: 60px;
        }
    }


    @media (min-width: 481px) and (max-width: 1200px) {
        
    }


    @media (min-width: 1201px) {
        &__button {
            margin-left: 12px;
        }

        &__adds {
            margin-right: 70px;
        }

        &__sign-up {
            margin-left: 93px;
        }
    }
}