.team {
    background-color: $background-team-color;
    padding: 94px 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        background-color: $primary-white-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        @media (max-width: 480px) {
                width: 100%;
                margin-bottom: 30px;
                justify-self: center;
        }
        @media (min-width: 481px) and (max-width: 1200px) {
                width: calc(50%-15px);
                margin-bottom: 30px;
        }
        @media (max-width: 1201px) {
                width: 270px;
        }
    }

    &__block {
        padding: 30px 32px;
        text-align: center;
        height: 100%;
        justify-content: space-between;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: $title-text-color;
        margin-bottom: 10px
    }

    &__social {
        justify-self: flex-end;
    }

}